@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?9w35f9");
  src: url("../fonts/icomoon/icomoon.eot?9w35f9#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?9w35f9") format("truetype"), url("../fonts/icomoon/icomoon.woff?9w35f9") format("woff"), url("../fonts/icomoon/icomoon.svg?9w35f9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

.icon-car:before {
  content: "\e900"; }

.icon-cross:before {
  content: "\e901"; }

.icon-marker:before {
  content: "\e902"; }

.icon-next:before {
  content: "\e903"; }

.icon-right-arrow:before {
  content: "\e904"; }

.icon-search:before {
  content: "\e905"; }

.icon-settings:before {
  content: "\e906"; }

.icon-tehn:before {
  content: "\e907"; }

.icon-wallet:before {
  content: "\e908"; }

.icon-zoom:before {
  content: "\e909"; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #404040; }

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #000; }

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #000; }

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000; }

h4 {
  font-size: 20px;
  font-weight: bold; }

h5 {
  font-size: 18px;
  color: #000;
  font-weight: normal; }

h6 {
  font-size: 14px;
  font-weight: bold; }

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
    outline: none; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 15px; }

.container {
  max-width: 1162px; }

header {
  border-bottom: 2px solid #DCDDDF; }

.header-wrapper {
  position: relative; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.logo {
  width: 228px; }

.navbar-wrapper {
  min-height: 60px;
  -webkit-background-size: cover;
          background-size: cover; }

.navbar {
  min-height: 0;
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-nav {
  float: none;
  margin: 0;
  width: 730px; }

.nav.navbar-nav::before, .nav.navbar-nav::after {
  display: none; }

.navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: middle; }
  .navbar-nav > li > a {
    position: relative;
    display: block;
    padding: 0;
    min-height: 100px;
    line-height: 100px;
    font-size: 14px;
    font-weight: 300;
    color: #9E9E9E;
    border: none;
    text-transform: uppercase; }
    .navbar-nav > li > a::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ffd300;
      opacity: 0;
      -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -o-transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px); }
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a.active {
      background-color: transparent;
      color: #000;
      text-shadow: 0 0 .1px #000, 0 0 .1px #000;
      opacity: 1; }
      .navbar-nav > li > a:hover::after, .navbar-nav > li > a:focus::after, .navbar-nav > li > a.active::after {
        height: 4px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px); }

.dropdown-menu {
  padding: 20px 50px;
  top: 103px;
  background: #fff;
  margin: 0;
  border: none;
  -webkit-box-shadow: -3px 3px 10px 0px rgba(204, 204, 204, 0.54);
          box-shadow: -3px 3px 10px 0px rgba(204, 204, 204, 0.54); }
  .dropdown-menu > li > a {
    position: relative;
    display: block;
    padding: 10px 0;
    width: 100%;
    color: #969696;
    font-weight: normal;
    font-size: 16px; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #000;
      opacity: 1;
      text-shadow: 0 0 0.001px #000000, 0 0 .1px #000000;
      background-color: transparent; }

.mobile-toggler {
  display: none !important;
  position: relative;
  font-size: 18px;
  padding: 0 0 0 10px !important;
  font-family: monospace;
  color: #fff; }
  .mobile-toggler.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.custom-header {
  position: relative;
  padding: 0 0 0 90px; }
  .custom-header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 60px;
    height: 4px;
    background: #000; }

h2.custom-header::before {
  top: 22px; }

.header-search {
  display: none;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  border-left: 8px solid #ffd300;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #cccccc;
          box-shadow: 0px 0px 20px 0px #cccccc;
  z-index: 10; }

.form .btn {
  min-width: 160px; }

.form-input {
  display: inline-block;
  height: 36px;
  padding: 0 25px;
  border: none;
  border-bottom: 1px solid #A6A299;
  outline: none; }

button.btn {
  outline: none;
  font-weight: normal;
  font-size: 16px; }

.search-form {
  position: relative;
  padding: 26px 270px 26px 80px;
  min-height: 90px; }
  .search-form .btn {
    position: absolute;
    right: 80px;
    top: 20px; }
  .search-form .form-input {
    width: 100%; }
  .search-form .form-input__wrapper {
    position: relative; }
    .search-form .form-input__wrapper::before {
      position: absolute;
      left: 0;
      top: 15px;
      z-index: 10;
      font-size: 14px;
      color: #8D8D8D; }

.content {
  min-height: -webkit-calc(100vh - 264px);
  min-height: calc(100vh - 264px); }

.banner-slider__title {
  font-size: 50px;
  font-weight: bold;
  color: #000; }
  .banner-slider__title::before {
    top: 30px; }

.banner-slider__description {
  margin: 30px 0 70px 90px; }

.btn-search {
  font-size: 16px;
  color: #999999;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }
  .btn-search.active .icon::before {
    content: "\e901"; }

.btn {
  position: relative;
  display: inline-block;
  height: 62px;
  line-height: 60px;
  padding: 0 30px;
  font-size: 18px;
  font-weight: bold;
  color: #403300;
  background: #ffd300;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border-color: transparent;
  outline: none;
  text-align: center; }
  .btn:hover {
    color: #403300; }
  .btn:focus {
    outline: none !important; }

.btn-yellow {
  padding-right: 60px; }
  .btn-yellow::after {
    content: '\e904';
    position: absolute;
    right: 30px;
    line-height: normal;
    top: 21px;
    font-size: 21px;
    color: #322900;
    font-family: "icomoon";
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .btn-yellow:hover {
    opacity: 1;
    color: #000; }
    .btn-yellow:hover::after {
      right: 15px; }

.btn-transparent {
  padding-right: 50px;
  height: 52px;
  line-height: 50px;
  border: 1px solid #999999;
  font-size: 16px;
  color: #8D8D8D;
  background-color: transparent; }
  .btn-transparent::after {
    content: '\e904';
    position: absolute;
    right: 24px;
    line-height: normal;
    top: 17px;
    font-size: 18px;
    color: #8D8D8D;
    font-family: "icomoon";
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .btn-transparent:hover {
    opacity: 1;
    color: #000;
    border-color: #000; }
    .btn-transparent:hover::after {
      right: 15px;
      color: #000; }

.slick-slide {
  outline: none; }

.banner-slider__info {
  padding: 110px 0 30px;
  min-height: 500px; }
  .banner-slider__info .btn {
    margin-left: 90px; }

.banner-slider__img {
  position: relative; }

.banner-slider__count {
  padding-bottom: 30px;
  text-align: right; }
  .banner-slider__count button {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    font-size: 19px;
    line-height: 19px;
    padding: 0;
    border: none;
    outline: none; }

.banner-slider__numbers {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px; }

.banner-slider__prev {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.btn-down {
  display: inline-block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.icons-block {
  display: table;
  width: 100%;
  border-collapse: collapse; }

.icons-block__row {
  display: table-row; }

.icons-block__item {
  display: table-cell;
  width: 25%;
  opacity: .4;
  height: 275px;
  border: 1px solid #D0D1D3;
  text-align: center;
  vertical-align: middle; }
  .icons-block__item:before {
    content: '';
    float: left;
    padding-top: 100%; }
  .icons-block__item:hover {
    opacity: 1; }
    .icons-block__item:hover .icons-block__icon::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 30px;
      background: #ffd300;
      -webkit-box-shadow: -3px 3px 10px 0px rgba(204, 204, 204, 0.54);
              box-shadow: -3px 3px 10px 0px rgba(204, 204, 204, 0.54); }
    .icons-block__item:hover .icons-block__icon::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 2px;
      background: #000; }
    .icons-block__item:hover .icons-block__title {
      font-weight: bold; }

.icons-block__icon {
  position: relative;
  height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  color: #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .icons-block__icon img {
    max-width: 60px;
    max-height: 60px; }

.icons-block__title {
  display: block;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase; }

section {
  padding: 90px 0; }
  section .custom-header::before {
    top: 20px; }

.article-img h2 {
  margin-bottom: 30px; }

.article-img p {
  color: #8D8D8D; }

.article-img__text {
  padding: 0 0 0 90px;
  max-width: 520px; }
  .article-img__text .btn {
    margin-top: 40px; }

.advantages {
  background: #121925; }
  .advantages h2 {
    text-align: center;
    color: #fff; }

.advantages-subtitle {
  font-size: 24px;
  color: #fff;
  text-align: center; }

.advantages-wrapper {
  margin-top: 70px; }

.advantages-item:hover .advantages-item__text h3 {
  color: #121925;
  background: #ffd300;
  cursor: pointer; }
  .advantages-item:hover .advantages-item__text h3 a {
    color: #121925;
    background: #ffd300; }

.advantages-item__icon {
  position: relative;
  display: inline-block;
  height: 90px;
  line-height: 90px; }
  .advantages-item__icon::before {
    content: '';
    position: absolute;
    width: 43px;
    height: 43px;
    background: #ffd300;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    top: -10px;
    right: -10px; }
  .advantages-item__icon::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: #121925;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    top: -1px;
    right: -1px; }
  .advantages-item__icon .icon {
    position: relative;
    font-size: 70px;
    color: #fff;
    vertical-align: middle;
    z-index: 10; }
    .advantages-item__icon .icon.icon-wallet {
      font-size: 55px; }
    .advantages-item__icon .icon.icon-car {
      font-size: 75px; }

.advantages-item__text {
  margin-top: 30px; }
  .advantages-item__text h3 {
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .advantages-item__text p {
    padding: 0 10px;
    color: #EAEAEB; }

.partners h2 {
  text-align: center; }

.partners-slider {
  max-width: 1035px;
  margin: 50px auto 0; }

.partners-slider__item {
  height: 218px;
  line-height: 218px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  border: 1px solid #D0D1D3; }
  .partners-slider__item img {
    display: inline-block;
    vertical-align: middle; }

.slick-prev::before, .slick-next::before {
  content: '\e903';
  font-family: "icomoon";
  font-size: 40px;
  color: #212121;
  top: 50%; }

.slick-next {
  right: -45px; }

.slick-prev {
  left: -45px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.modal-box {
  position: relative;
  max-width: 1134px;
  margin: 0 auto 0;
  border-top: 8px solid #ffd300;
  -webkit-box-shadow: 0px 0px 20px 0px #cccccc;
          box-shadow: 0px 0px 20px 0px #cccccc; }
  .modal-box::before {
    content: '';
    position: absolute;
    top: -53px;
    left: -10px;
    width: 513px;
    height: 44px;
    background: url(../img/points.png); }
  .modal-box .justify-align {
    min-height: 410px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .modal-box h2 {
    margin-bottom: 10px; }
  .modal-box .btn {
    margin-top: 50px; }

.modal-box__close {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 25px; }

.jobs {
  padding: 65px 0 0; }

.faq-wrapper {
  margin-top: 40px; }

.faq-item {
  margin-bottom: 15px; }
  .faq-item.active .faq-header {
    border: 10px solid #ffd300;
    line-height: 60px;
    padding: 0 80px; }
    .faq-item.active .faq-header::before {
      -webkit-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
              transform: rotate(270deg);
      right: 80px; }

.faq-header {
  position: relative;
  display: block;
  padding: 0 90px;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  font-weight: bold;
  color: #404040;
  -webkit-box-shadow: 2px 3px 14.25px 0.75px rgba(18, 25, 37, 0.15);
          box-shadow: 2px 3px 14.25px 0.75px rgba(18, 25, 37, 0.15); }
  .faq-header::before {
    content: '\e903';
    position: absolute;
    right: 90px;
    top: 4px;
    font-size: 27px;
    font-family: "icomoon";
    color: #000;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.faq-body {
  display: none;
  padding: 35px 90px 15px; }
  .faq-body.active {
    display: block; }
  .faq-body h5 {
    font-weight: bold; }
  .faq-body p {
    margin-bottom: 20px;
    color: #000; }
  .faq-body .custom-ul li {
    margin: 0;
    padding: 0 0 0 18px; }
    .faq-body .custom-ul li::before {
      width: 6px;
      height: 6px; }

.custom-ul {
  margin-bottom: 20px;
  font-size: 18px;
  list-style: none; }
  .custom-ul li {
    position: relative;
    padding: 0 0 0 30px;
    margin-bottom: 12px;
    color: #000; }
    .custom-ul li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 9px;
      width: 10px;
      height: 10px;
      background: #ffd300;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.custom-ol {
  margin-bottom: 20px;
  font-size: 18px;
  list-style: none;
  counter-reset: item; }
  .custom-ol li {
    position: relative;
    color: #000;
    counter-increment: item; }
    .custom-ol li::before {
      display: inline-block;
      width: 1em;
      padding-right: 0.5em;
      font-weight: bold;
      text-align: right;
      content: counter(item) "."; }

.news {
  padding: 60px 0 0; }

.news-years a {
  display: inline-block;
  margin-left: 25px;
  height: 50px;
  width: 100px;
  font-size: 16px;
  color: #999999;
  border: 1px solid;
  text-align: center;
  line-height: 50px;
  -webkit-border-radius: 30px;
          border-radius: 30px; }
  .news-years a.active, .news-years a:hover {
    opacity: 1;
    color: #000; }

.container-inner {
  max-width: 975px;
  margin: 0 auto; }

.news-wrapper {
  padding: 40px 0 0; }
  .news-wrapper .news-item:first-child .news-item__info {
    border-top: 1px solid #DCDDDF; }

.news-item {
  margin-bottom: 20px; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.news-item__info {
  height: 100%;
  padding: 40px 0 10px;
  border-bottom: 1px solid #DCDDDF; }
  .news-item__info h3 {
    min-height: 60px;
    margin-bottom: 10px; }

.news-item__date {
  display: block;
  margin-bottom: 30px;
  color: #8D8D8D; }

.read-more {
  color: #8D8D8D;
  text-decoration: underline; }

.pagination-list {
  margin-top: 60px;
  list-style: none;
  text-align: center; }
  .pagination-list li {
    display: inline-block;
    vertical-align: middle; }
    .pagination-list li a {
      display: block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      border: 1px solid transparent;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      text-align: center;
      font-size: 18px;
      color: #8D8D8D; }
    .pagination-list li.active a {
      color: #000;
      border-color: #000; }
    .pagination-list li span {
      display: inline-block;
      height: 40px;
      line-height: 32px; }

.pagination-list__first .icon, .pagination-list__last .icon {
  font-size: 14px; }

.pagination-list__first {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.breadcrumbs {
  margin: 30px 0 30px;
  list-style: none; }
  .breadcrumbs li {
    display: inline-block;
    margin-right: -0.03em;
    color: #404040; }
    .breadcrumbs li + li::before {
      content: "\e903";
      font-family: "icomoon";
      color: #8D8D8D;
      font-size: 11px;
      padding: 0 8px 0 3px; }
    .breadcrumbs li a {
      position: relative;
      color: #8D8D8D; }

.blog {
  padding: 0; }
  .blog .container-inner {
    max-width: 847px; }
  .blog h1 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 50px;
    color: #272B2E; }
    .blog h1::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60px;
      height: 5px;
      background: #121925; }

article img {
  margin-bottom: 30px; }

article h3 {
  margin-bottom: 20px;
  color: #272b2e; }

article .custom-ol li {
  margin-bottom: 12px; }
  article .custom-ol li::before {
    font-weight: normal;
    color: #272b2e; }

.article-date {
  margin-bottom: 20px;
  color: #8e8e8e; }

.blockquote-yellow {
  margin: 60px auto 60px;
  padding: 45px 100px;
  border: 10px solid #ffd300; }
  .blockquote-yellow p {
    color: #272b2e; }
  .blockquote-yellow span {
    display: block;
    text-align: right;
    color: #8e8e8e; }

.all-goods .blockquote-yellow p {
  padding: 0; }

.blockquote-left {
  padding: 0 0 0 30px;
  margin: 60px auto 60px;
  border-left: 2px solid #D4D4D4; }

.news-arrows {
  margin: 50px 0;
  padding: 20px 0;
  border-top: 1px solid #DCDDDF;
  border-bottom: 1px solid #DCDDDF; }

.news-arrows__btn {
  width: 42px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #3E3225; }
  .news-arrows__btn .icon {
    font-size: 14px;
    vertical-align: middle;
    color: #3E3225; }

.news-arrows__left .news-arrows__btn {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.news-arrows__text {
  padding: 0 0 0 25px; }

.news-arrows__right .news-arrows__text {
  padding: 0 25px 0 0; }

.news-arrows__text a {
  display: block;
  line-height: 24px;
  font-size: 16px; }
  .news-arrows__text a.news-arrows__links {
    color: #8e8e8e; }
  .news-arrows__text a.news-arrows__popular {
    color: #272b2e;
    font-weight: bold; }

.watch {
  padding: 0; }
  .watch h3 {
    margin-bottom: 30px;
    color: #000; }

.watch-wrapper {
  margin-bottom: 30px; }

.watch-item h5 {
  font-weight: bold; }

.watch-item__img {
  margin-bottom: 18px; }

.watch-item__date {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #8e8e8e; }

.contacts {
  padding: 65px 0 0; }

.contacts-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.contacts-text {
  position: relative;
  top: -5px; }

.contacts-text h1 {
  margin-bottom: 70px; }

.contacts-text__item {
  margin-bottom: 55px; }
  .contacts-text__item * {
    color: #404040; }
  .contacts-text__item h3 {
    margin-bottom: 20px; }
  .contacts-text__item .contacts-list {
    list-style: none; }
    .contacts-text__item .contacts-list li {
      font-size: 24px; }

.contacts-form {
  position: relative;
  padding: 50px 80px 40px;
  margin: 0 0 100px;
  border: 10px solid #ffd300; }
  .contacts-form::before {
    content: '';
    position: absolute;
    bottom: -53px;
    right: -10px;
    width: 513px;
    height: 44px;
    background: url(../img/points.png); }
  .contacts-form h2 {
    margin-bottom: 10px; }
  .contacts-form .justify-align {
    margin: 30px 0; }
    .contacts-form .justify-align input {
      width: 45%;
      padding-left: 10px;
      padding-right: 10px; }
  .contacts-form .btn {
    margin-top: 20px;
    width: 220px; }

.form textarea {
  padding: 10px;
  width: 100%;
  height: 100px;
  border: 1px solid #DCDDDF;
  resize: none;
  outline: none; }

.personal-data {
  margin: 5px 0 0;
  font-size: 14px;
  color: #8D8D8D; }
  .personal-data a {
    color: #8D8D8D;
    text-decoration: underline; }

#googleMap {
  width: 100%;
  height: 630px;
  margin-bottom: -80px; }
  #googleMap::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 1160px;
    height: 10px;
    background: #ffd300;
    z-index: 100; }

.about {
  padding: 80px 0 0; }
  .about .custom-header {
    margin-bottom: 30px; }
  .about .article-img__text {
    padding: 0; }
    .about .article-img__text h5 {
      margin-bottom: 30px;
      font-weight: bold; }
  .about .advantages {
    background: #fff; }
    .about .advantages h2, .about .advantages .advantages-subtitle {
      color: #000; }
    .about .advantages .advantages-subtitle {
      margin-top: 10px; }
    .about .advantages .advantages-item__icon::after {
      background: #fff; }
    .about .advantages .advantages-item__icon .icon {
      color: #121925; }
    .about .advantages .advantages-item__text h3 {
      color: #121925; }
    .about .advantages .advantages-item__text p {
      color: #121925; }

.product-page {
  padding: 0; }
  .product-page .article-img__text {
    max-width: none; }
  .product-page .article-img__image {
    height: 400px; }
    .product-page .article-img__image img {
      position: absolute;
      top: -83px;
      right: 15px;
      max-height: 430px; }

.product-page__top--wrapper {
  border-bottom: 9px solid #121925; }
  .product-page__top--wrapper .custom-header {
    display: inline-block;
    padding: 7px 30px 10px 98px;
    margin-bottom: 35px;
    background: #ffd300; }
    .product-page__top--wrapper .custom-header::before {
      top: 29px;
      left: 20px;
      z-index: 10; }
    .product-page__top--wrapper .custom-header::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      height: 40px;
      width: 58px;
      background: #fff; }

.product-page__info {
  padding: 60px 0 0; }
  .product-page__info .container-inner > img {
    display: block;
    margin: 0 auto 60px; }

.product-page-list {
  margin-bottom: 70px; }
  .product-page-list .custom-header::before {
    top: 16px; }
  .product-page-list p, .product-page-list ul {
    padding: 0 90px; }
  .product-page-list ul {
    list-style: none;
    padding: 0 0 0 88px; }
    .product-page-list ul li {
      position: relative;
      padding: 0 0 0 20px;
      line-height: 26px; }
      .product-page-list ul li::before {
        content: '-';
        position: absolute;
        left: 0;
        top: 0; }
  .product-page-list p {
    margin-bottom: 20px; }

.all-goods .product-page-list ul {
  padding: 0 0 0 88px; }

.product-description__img {
  width: 45%; }
  .product-description__img img {
    margin: 0; }

.product-description__info {
  position: relative;
  left: -40px;
  width: 55%; }
  .product-description__info p {
    padding: 0 0 0 90px; }

.custom-table__box {
  margin-top: 30px; }
  .custom-table__box h3 {
    margin-bottom: 35px; }

.custom-table {
  width: 100%; }
  .custom-table tr:nth-child(odd) {
    background: #f6f6f6; }
  .custom-table tr:first-child td {
    font-size: 14px;
    color: #878787; }
  .custom-table tr td {
    padding: 24px 10px;
    font-size: 16px;
    text-align: center; }

.feedback-box {
  position: relative;
  min-height: 420px;
  margin-top: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 10px solid #ffd300; }
  .feedback-box::before {
    content: '';
    position: absolute;
    top: -53px;
    left: -10px;
    width: 513px;
    height: 44px;
    background: url(../img/points.png); }
  .feedback-box .btn {
    width: 220px;
    font-weight: bold; }
  .feedback-box .personal-data {
    color: #A4A4A4; }
    .feedback-box .personal-data a {
      color: #A4A4A4; }

.feedback-from {
  margin-top: 50px; }
  .feedback-from input {
    margin-right: 40px;
    border-color: #DCDDDF; }

.feedback-from *::-webkit-input-placeholder {
  color: #A4A4A4; }

.feedback-from *:-moz-placeholder {
  color: #A4A4A4; }

.feedback-from *::-moz-placeholder {
  color: #A4A4A4; }

.feedback-from *:-ms-input-placeholder {
  color: #A4A4A4; }

.buying-box {
  margin-top: 80px; }

.buying-box__wrapper {
  margin-top: 50px; }

.buying-box__img {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  border: 1px solid #D0D1D3;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%; }
  .buying-box__img:hover {
    opacity: 1; }
    .buying-box__img:hover::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 40px;
      background: #ffd300;
      -webkit-box-shadow: -3px 3px 10px 0px rgba(204, 204, 204, 0.54);
              box-shadow: -3px 3px 10px 0px rgba(204, 204, 204, 0.54); }
    .buying-box__img:hover::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 2px;
      background: #000; }
    .buying-box__img:hover .buying-box__title {
      visibility: visible; }

.buying-box__title {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  font-size: 18px;
  color: #272b2e;
  text-align: center; }

.buying-box__item h5 {
  margin-top: 18px; }
  .buying-box__item h5 a {
    font-weight: bold; }

.all-goods {
  padding: 0; }
  .all-goods .blockquote-yellow {
    margin-top: 0; }
  .all-goods article {
    padding-top: 70px;
    padding-bottom: 50px; }
    .all-goods article:nth-of-type(even) {
      background: #f6f6f6; }
    .all-goods article:last-of-type {
      padding-bottom: 0; }
    .all-goods article .product-page-list {
      margin-bottom: 50px; }
    .all-goods article p {
      margin-bottom: 20px;
      padding: 0 0 0 88px; }
    .all-goods article .custom-header::before {
      top: 16px; }
    .all-goods article ul {
      padding: 0 0 0 108px;
      margin-bottom: 20px; }

.all-goods__top {
  margin-bottom: 50px; }

.all-goods__top--text {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .all-goods__top--text h1 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px; }
    .all-goods__top--text h1::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60px;
      height: 5px;
      background: #121925; }

.all-goods__list {
  display: table;
  width: 100%;
  list-style: none;
  border-collapse: collapse; }
  .all-goods__list li {
    display: table-row; }
    .all-goods__list li a {
      display: table-cell;
      width: 25%;
      height: 160px;
      vertical-align: middle;
      border: 1px solid #D9D9DB; }
      .all-goods__list li a:hover {
        opacity: 1; }

.all-goods__list--text {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 300;
  color: #828282;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
  text-align: center; }
  .all-goods__list--text:hover {
    font-weight: bold;
    color: #606060; }
    .all-goods__list--text:hover::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 30px;
      background: #ffd300;
      -webkit-box-shadow: -3px 3px 10px 0px rgba(204, 204, 204, 0.54);
              box-shadow: -3px 3px 10px 0px rgba(204, 204, 204, 0.54); }
    .all-goods__list--text:hover::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 2px;
      background: #000; }

.gallery {
  padding: 70px 0 0; }
  .gallery h1 {
    margin-bottom: 25px; }

.gallery-wrapper {
  margin-bottom: 45px; }

.fancybox {
  display: block; }
  .fancybox img {
    display: block; }

.gallery-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.gallery-item__caption {
  position: relative;
  padding: 0 80px 0 25px;
  background: #f6f6f6;
  border-left: 4px solid #ffd300; }
  .gallery-item__caption > span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 84px;
    font-size: 16px;
    color: #5A5A5A; }

.icon-zoom {
  position: relative;
  display: inline-block; }
  .icon-zoom::before {
    content: '';
    display: block;
    width: 27px;
    height: 28px;
    background: url(../img/zoom.png); }

.gallery-item__zoom {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 62px;
  height: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffd300; }

.gallery-grid .gallery-item {
  margin-bottom: 30px; }

.search {
  padding: 65px 0 0; }
  .search .btn-yellow {
    height: 52px;
    line-height: 50px;
    font-weight: 600; }
    .search .btn-yellow::after {
      top: 15px; }

.search-form__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 0; }
  .search-form__bottom p {
    margin: 0; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 26px;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    color: #8F8F8F; }
    input[type="checkbox"] + label::before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 14px;
      height: 14px;
      border: 1px solid #A6A299; }
  input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 6px;
    width: 9px;
    height: 6px;
    background: url(../img/check.png); }

.search-form__select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 0 60px; }
  .search-form__select span {
    font-size: 14px;
    color: #8F8F8F; }

.select-wrapper {
  position: relative;
  margin: 0 0 0 15px;
  width: 40px;
  overflow: hidden;
  border-bottom: 1px solid #A6A299; }
  .select-wrapper::before {
    content: "\e903";
    position: absolute;
    right: 0;
    top: 8px;
    font-family: "icomoon";
    font-size: 10px;
    color: #A6A299;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .select-wrapper select {
    width: 60px;
    border: none;
    background-color: transparent;
    outline: none;
    text-align: center;
    font-size: 14px;
    color: #A6A299; }

.search-item__wrapper {
  margin-top: 20px; }

.search-item {
  padding: 30px 60px;
  margin-bottom: 30px;
  border-left: 10px solid #ffd300;
  -webkit-box-shadow: 0px 0px 20px 0px #cccccc;
          box-shadow: 0px 0px 20px 0px #cccccc; }
  .search-item h3 {
    margin-bottom: 20px;
    font-size: 24px; }

.search-item__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .search-item__text p {
    width: 100%;
    font-weight: 300; }
  .search-item__text .btn {
    padding: 0 60px 0 35px;
    margin-left: 50px;
    font-weight: 300;
    min-width: 180px; }

footer {
  margin-top: 80px;
  padding: 30px 0;
  background: #121925; }
  footer * {
    color: #fff; }

.footer-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer-tel {
  font-size: 16px;
  font-weight: bold; }

.footer-address span {
  display: block;
  font-size: 16px; }

.footer-menu {
  position: relative;
  top: -5px;
  width: 240px;
  list-style: none;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }
  .footer-menu li {
    -webkit-column-break-inside: avoid;
            break-inside: avoid; }
    .footer-menu li a {
      font-size: 14px;
      line-height: 35px;
      text-transform: uppercase;
      font-weight: 300;
      opacity: .6; }
      .footer-menu li a:hover {
        opacity: 1;
        font-weight: bold; }

.footer-dev span {
  display: block;
  margin-bottom: 6px;
  font-size: 14px; }

.back-top {
  position: relative;
  display: inline-block;
  margin-top: 9px;
  height: 32px;
  width: 32px;
  border: 1px solid #EBEBEC;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center; }
  .back-top .icon {
    position: absolute;
    left: 7px;
    top: 7px;
    font-size: 15px;
    color: #EBEBEC;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }

*::-webkit-input-placeholder {
  color: #8D8D8D;
  font-size: 16px;
  font-family: "OpenSans";
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #8D8D8D;
  font-size: 16px;
  font-family: "OpenSans";
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #8D8D8D;
  font-size: 16px;
  font-family: "OpenSans";
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #8D8D8D;
  font-size: 16px;
  font-family: "OpenSans";
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

@media only screen and (max-width: 1200px) {
  .navbar-nav {
    width: 620px; }
  .banner-slider__title {
    font-size: 42px; }
  .icons-block__icon {
    height: 100px; }
  .icons-block__item {
    height: 240px; }
  .footer-address span {
    font-size: 14px; }
  .footer-menu {
    width: 220px; }
  .slick-next {
    right: 0; }
  .slick-prev {
    left: 0; }
  .partners-slider {
    padding: 0 40px;
    max-width: none; }
  .container-inner {
    padding: 0 15px; }
  .contacts-wrapper {
    display: block; } }

@media only screen and (max-width: 991px) {
  .navbar-nav {
    width: 470px; }
  .navbar-nav > li > a {
    font-size: 12px; }
  .logo {
    width: 180px; }
  .banner-slider__item .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .banner-slider__info {
    padding: 30px 0 30px;
    min-height: auto; }
  .icons-block__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: 1px solid #ECECED;
    border-width: 1px 0 0 1px; }
    .icons-block__row:first-child .icons-block__item:nth-child(3), .icons-block__row:first-child .icons-block__item:nth-child(4) {
      border-bottom: none; }
  .icons-block__item {
    width: 50%;
    border-width: 0  1px 1px  0; }
  .article-img__image {
    margin-bottom: 30px; }
  .article-img__text {
    max-width: none;
    padding: 0; }
  .advantages-item {
    max-width: 290px;
    margin: 0 auto 50px;
    text-align: center; }
  .advantages-item__text {
    margin-top: 5px; }
    .advantages-item__text h3 {
      background: #ffd300;
      color: #121925; }
  .advantages-wrapper [class^="col"]:last-child .advantages-item {
    margin-bottom: 0; }
  section {
    padding: 50px 0; }
  .modal-box .justify-align {
    min-height: auto;
    padding: 60px 0 40px; }
  .footer-wrapper {
    display: block;
    text-align: center; }
  .footer-menu {
    width: 220px;
    margin: 15px auto 5px; }
  .footer-logo {
    display: inline-block;
    margin-bottom: 10px; }
  .faq-item.active .faq-header {
    border-width: 5px;
    padding: 0 50px; }
  .jobs {
    padding: 30px 0 0; }
  .news-item {
    display: block; }
  .all-goods__list li a {
    height: 140px; }
  .all-goods__list--text {
    font-size: 14px; }
    .all-goods__list--text:hover::before {
      height: 10px; }
  .feedback-box {
    min-height: auto;
    padding: 35px 15px 45px; }
    .feedback-box .btn {
      margin-top: 20px; }
  .gallery-wrapper {
    display: block; }
    .gallery-wrapper .gallery-item {
      margin-bottom: 30px; } }

@media only screen and (max-width: 767px) {
  .logo {
    max-width: 148px; }
  .banner-slider__title {
    font-size: 28px; }
  .custom-header {
    padding: 0; }
    .custom-header::before {
      display: none; }
  .banner-slider__description {
    margin: 25px 0 25px 0;
    font-size: 16px; }
  .banner-slider__info .btn {
    margin-left: 0; }
  .btn {
    font-size: 14px;
    height: 56px;
    line-height: 54px; }
    .btn::after {
      top: 17px; }
  .icons-block__row {
    max-width: 290px;
    margin: 0 auto; }
  .icons-block__item {
    height: 140px; }
  .header-wrapper {
    position: relative; }
  .navbar {
    position: static;
    margin-bottom: -3px; }
  .navbar-wrapper {
    min-height: 0;
    padding: 15px 0;
    display: block;
    text-align: center; }
  .navbar-header {
    position: absolute;
    right: 0;
    top: 10px;
    text-align: center; }
  .navbar-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 25px;
    float: none;
    padding: 0 0 0;
    margin: 0 0 0;
    border: none;
    min-height: 0;
    position: relative;
    z-index: 5;
    text-align: right; }
    .navbar-toggle .icon-bar {
      position: relative;
      height: 2px;
      background: #9A9A9A;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
      .navbar-toggle .icon-bar:nth-of-type(2) {
        width: 20px; }
      .navbar-toggle .icon-bar:nth-of-type(3) {
        width: 12px; }
    .navbar-toggle.active .icon-bar {
      margin: 0; }
      .navbar-toggle.active .icon-bar:nth-of-type(1) {
        width: 25px;
        top: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent; }
      .navbar-toggle.active .icon-bar:nth-of-type(3) {
        width: 25px;
        top: -7px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px; }
  .nav.navbar-nav.active {
    display: block; }
  .navbar-nav {
    position: relative;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #000; }
    .navbar-nav::before {
      content: '';
      display: block !important;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      width: 100%;
      background: #ffd300; }
    .navbar-nav > li {
      display: block;
      text-align: center; }
      .navbar-nav > li > a {
        position: relative;
        display: block;
        text-align: left;
        padding: 10px 15px;
        font-size: 14px;
        text-transform: uppercase;
        min-height: 0;
        line-height: normal;
        border-top: 1px solid #D5D5D5; }
        .navbar-nav > li > a::after {
          display: none; }
  .mobile-toggler {
    display: inline-block !important;
    position: absolute;
    right: 15px;
    top: 9px;
    font-size: 20px;
    color: #8A8A8A;
    z-index: 100;
    cursor: default; }
  .dropdown-menu {
    position: static;
    float: none; }
  .navbar-collapse {
    position: absolute;
    left: -15px;
    right: -15px;
    top: 38px;
    z-index: 10;
    background: #fff; }
  .btn-search {
    position: absolute;
    right: 50px;
    top: 8px; }
  .search-form {
    padding: 10px 15px;
    min-height: 90px; }
  .search-form .btn {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 10px; }
  .btn-transparent {
    height: 46px;
    line-height: 44px; }
    .btn-transparent::after {
      top: 14px; }
  .header-search {
    top: 39px; }
  .icons-block__icon {
    height: 70px;
    margin-bottom: 15px; }
    .icons-block__icon img {
      width: 50px;
      max-height: 50px; }
  .icons-block__title {
    padding: 0;
    font-size: 14px; }
  .icons-block__item:hover .icons-block__icon::before {
    height: 10px; }
  h2, h1 {
    font-size: 25px; }
  p {
    font-size: 16px; }
  .article-img__text .btn {
    margin: 0; }
  .advantages-subtitle {
    font-size: 18px; }
  h3 {
    font-size: 18px; }
  .slick-prev::before, .slick-next::before {
    font-size: 26px; }
  .slick-prev {
    left: -10px; }
  .slick-next {
    top: 53%;
    right: -10px; }
  .partners-slider {
    margin: 30px auto 0; }
  .partners-slider__item {
    height: 126px;
    line-height: 126px;
    padding: 0 10px;
    margin-left: 10px;
    margin-right: 10px; }
  .modal-box__close {
    top: 15px; }
  .modal-box .justify-align {
    padding: 60px 15px 40px; }
  .partners-slider {
    padding: 0 10px; }
  footer {
    margin-top: 30px; }
  .faq-header {
    padding: 0 15px; }
  .faq-item.active .faq-header {
    padding: 0 15px;
    line-height: 66px; }
    .faq-item.active .faq-header::before {
      right: 15px; }
  .faq-header::before {
    font-size: 24px;
    right: 20px; }
  .faq-body {
    padding: 25px 0 15px; }
  .news-header {
    display: block; }
  .news {
    padding: 30px 0 0; }
  .news-years {
    margin-top: 10px; }
    .news-years .news-years__item {
      margin: 0 10px 0 0;
      height: 40px;
      line-height: 39px;
      width: 70px;
      font-size: 14px; }
  .news-wrapper {
    padding: 30px 0 0; }
  .news-item {
    margin-bottom: 30px; }
  .news-item__date {
    margin-bottom: 10px; }
  .news-item__info {
    padding: 15px 0 10px;
    border-bottom: none; }
    .news-item__info h3 {
      min-height: auto; }
  .news-wrapper .news-item:first-child .news-item__info {
    border: none; }
  .breadcrumbs li {
    font-size: 14px; }
  .breadcrumbs li + li::before {
    font-size: 8px; }
  .breadcrumbs {
    margin: 15px 0 15px; }
  .blog h1 {
    margin-bottom: 30px; }
    .blog h1::before {
      display: none; }
  article img {
    margin-bottom: 10px; }
  .article-date {
    margin-bottom: 5px;
    font-size: 14px; }
  .blockquote-yellow {
    margin: 20px auto 20px;
    padding: 20px 30px;
    border: 5px solid #ffd300; }
  .blockquote-left {
    margin: 20px auto 20px; }
  .custom-ul li {
    padding: 0 0 0 20px;
    margin-bottom: 10px;
    font-size: 16px; }
    .custom-ul li::before {
      top: 6px; }
  .custom-ol {
    font-size: 16px; }
  .news-arrows {
    margin: 30px 0;
    display: block; }
  .news-arrows__left {
    margin-bottom: 20px; }
  .watch-item {
    margin-bottom: 30px; }
  h5 {
    font-size: 16px; }
  .watch-item__img {
    margin-bottom: 5px; }
  .watch-item__date {
    font-size: 12px; }
  .about {
    padding: 35px 0 0; }
    .about .advantages {
      padding: 30px; }
  .about .custom-header {
    margin-bottom: 20px; }
  .article-img__image {
    margin-bottom: 20px; }
  .about .article-img__text h5 {
    margin-bottom: 20px; }
  .product-page__top--wrapper {
    border-bottom: 5px solid #121925; }
  .product-page .article-img__image {
    padding: 30px 0 30px;
    height: auto;
    text-align: center; }
    .product-page .article-img__image img {
      position: static;
      max-height: none; }
  .product-page__top--wrapper .custom-header {
    padding: 7px 30px 10px 30px; }
    .product-page__top--wrapper .custom-header::after {
      display: none; }
  .product-description {
    display: block; }
  .product-description__info {
    position: static;
    width: auto; }
    .product-description__info p {
      padding: 0; }
  .feedback-box::before {
    top: -38px;
    left: -10px;
    width: 290px;
    height: 25px;
    background: url(../img/points.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
  .feedback-box {
    min-height: auto;
    margin-top: 70px;
    padding: 35px 15px 45px;
    border: 6px solid #ffd300; }
    .feedback-box input {
      width: 100%;
      margin-bottom: 20px; }
  .product-page-list p, .product-page-list ul {
    padding: 0; }
  .product-page-list ul li {
    font-size: 16px;
    line-height: 22px; }
  .product-description__img {
    width: auto; }
  .custom-table tr td {
    padding: 5px 2px;
    font-size: 10px; }
  .custom-table tr:first-child td {
    font-size: 8px;
    color: #000; }
  .buying-box {
    margin-top: 50px; }
  .buying-box__wrapper {
    margin-top: 30px; }
  .buying-box__img {
    height: 180px; }
  .buying-box__item {
    margin-bottom: 30px; }
    .buying-box__item h5 {
      margin-top: 10px; }
  .all-goods__top .row {
    display: block; }
  .all-goods__list li a {
    height: 140px;
    display: inline-block;
    width: 50%; }
  .all-goods article {
    padding-top: 50px;
    padding-bottom: 30px; }
  .feedback-from__wrapper h2 {
    margin-bottom: 10px; }
  .gallery {
    padding: 35px 0 0; }
  .gallery-item__caption > span {
    font-size: 14px; }
  .gallery-item__caption {
    padding: 0 80px 0 15px; }
  .contacts {
    padding: 35px 0 0; }
  .contacts-text h1 {
    margin-bottom: 20px; }
  .contacts-text__item .contacts-list li {
    font-size: 18px; }
  .contacts-text__item {
    margin-bottom: 20px; }
    .contacts-text__item h3 {
      margin-bottom: 7px; }
  .contacts-form {
    padding: 25px 15px 30px;
    margin: 0 0 100px;
    border: 6px solid #ffd300;
    margin: 0 0 60px; }
  .contacts-form .justify-align {
    display: block; }
  .contacts-form .justify-align input {
    display: block;
    width: auto;
    margin-bottom: 10px; }
  .contacts-form::before {
    bottom: -36px;
    width: 290px;
    height: 25px;
    background: url(../img/points.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
  #googleMap {
    width: 100%;
    height: 300px;
    margin-bottom: -30px; }
  .modal-box::before {
    top: -38px;
    left: -10px;
    width: 290px;
    height: 25px;
    background: url(../img/points.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .footer-dev, .back-top {
    display: inline-block;
    vertical-align: middle; }
  .footer-dev {
    margin: 0 35px 0 0; }
  .back-top {
    margin: 0 0 0 10px; }
  .all-goods article p {
    padding: 0; }
  .all-goods .product-page-list ul {
    padding: 0; }
  .all-goods article ul {
    padding: 0 0 0 15px;
    font-size: 14px; } }
